.flex-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-overflow: ellipsis;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


